macOS system files

.DS_Store .DS_Store? .AppleDouble .LSOverride

Spotlight

.Spotlight-V100

Icon file (can appear in directories)

Icon?

Thumbnails

._*

Files created by macOS Finder

.fseventsd .VolumeIcon.icns

Trash

.Trashes

Time Machine

.TemporaryItems .Com.apple.timemachine.donotpresent

AFP share directories

.AppleDB .AppleDesktop Network Trash Folder Temporary Items .apdisk
